.no-scrolled {
    overflow: hidden;
}

.hero-swiper {
    border-radius: 24px;
    color: #FFFFFF;
}

.hero-swiper .swiper-slide__hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

section {
    padding-bottom: 88px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 1200px;
}

.hero-swiper .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 42.2%, rgba(0, 0, 0, 0.52) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0.52) 100%);


}

.hero-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 500px;
    position: relative;
    padding: 54px 34px;

}

.slide-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 14px;
    max-width: 581px;
    position: relative;
    z-index: 10;
}

.hero-title {

    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.hero-swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    opacity: 1;

}

.hero-swiper .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #FFFFFF;

}

.hero-swiper .swiper-pagination-bullet-active {
    background: #E6B964;

}

.hero-swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20px;
}

.card-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.card-item {
    padding: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #F1F1F1;
    border-radius: 14px;
    align-items: center;
    text-align: center;
    min-height: 570px;
    box-shadow: 0px 4px 14px 0px #00000000;
    transition: all .3s ease;
    background: #FFFFFF;

}

.accent-cotnainer .card-item:hover {
    border: 1px solid #FFD35B;
    box-shadow: 0px 4px 14px 0px #0000000D;

}

.card-item:hover {
    box-shadow: 0px 4px 14px 0px #00000059;

}

.card-item:hover .card-item__title {
    color: #006B6B;
}

.card-item__img {
    border-radius: 10px;
    aspect-ratio: 384/420;
    width: 100%;
    object-fit: cover;
}

.card-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    transition: color .3s ease;
}

.card-item__size {
    color: #8E8E8E;
    font-size: 14px;
    line-height: 24px;
}

.card-item__price {
    color: #006B6B;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #272727CC;
    z-index: 10;
    display: flex;
    padding: 20px;
    display: none;
    overflow-y: auto;
}

.modal_overlay.--is-open {
    display: flex;
}

.modal_content {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 42px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px 0px #0000003B;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal_card-item__title {
    font-size: 30px;
    font-weight: 600;
}

.modal_card-item__size {
    font-size: 18px;
    line-height: 24px;
    color: #8E8E8E;
}

.modal_card-item__price {
    color: #006B6B;
    font-size: 24px;
    font-weight: 600;
}

.modal_close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: url('../img/new-page/close.svg') 50% / contain no-repeat;
}

.modal_card-item__img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.modal_card-item__img-container img {
    width: 100%;
    aspect-ratio: 384 / 420;
    min-height: 0;
    object-fit: cover;
    border-radius: 10px;
}

.card-item__popup-img {
    display: none;
}

.railings-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;

}

.railings-item {
    width: 100%;
    aspect-ratio: 412 / 590;
    position: relative;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 35px 0px #00000000;
    transition: box-shadow .3s ease;

}

.railings-item::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.8%, rgba(0, 0, 0, 0.7) 100%);

}

.railings-item:hover {
    box-shadow: 0px 4px 35px 0px #00000040;

}

.railings-item:hover::before {
    opacity: 0.5;

}

.railings-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255, 211, 91, 0.15), rgba(255, 211, 91, 0.15));
    opacity: 0;
    transition: opacity .3s ease;

}

.railings-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -3;
}

.railings-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.railings-item__size {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.railings-item__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFD35B;
}

.img-modal-content {
    position: relative;
    margin: auto;
    max-width: 1280px;
    height: 100%;
    width:fit-content;
    display: flex;
    padding: 34px 0;
}

.img-modal-content img {
    width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
    border-radius: 24px;
    box-shadow: 0px 4px 34px 0px #00000059;

}

.img-modal-content .modal_close {
    filter: invert(1);
    top: 0;
    right: 0;
}

.card-item__text {
    font-size: 16px;
    line-height: 24px;
}

.accent-cotnainer {
    padding: 30px;
    background: #FFFAF3;
    border-radius: 24px;

}

.reviews_yandex {
    width: 100%;
    max-width: 470px;
    height: 488px;
}
.reviews_yandex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    justify-items: center;
}
.reviews_yandex__img img{
    max-width: 407px;
    width: 100%;
    object-fit: contain;
}
.business-summary-rating-badge-view__rating-and-stars {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
}
.business-summary-rating-badge-view__rating {
    font-weight: 500;
    font-size: 64px;
}
.business-summary-rating-badge-view__stars-and-count {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}
.icon.business-rating-badge-view__star svg {
    width: 24px;
    height: 24px;
    color: #FFD35B;
}
.business-rating-amount-view {
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
}
.reviews_yandex__top {
    padding: 20px;
    background: #F1F1F1;
border-radius: 10px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 14px;
    justify-items: center;
    align-items: center



}
.reviews_yandex__stat {
    display: flex;
    align-items: center;
    gap: 10px;
}
.yandex-logo {
    display: block;
    width: 260px;
    height: 70px;
    flex-shrink: 0;
    background: url('../img/new-page/yandex-logo.png') 50% / contain no-repeat
}
.btn_yandex {
    width: 100%;
    max-width: 500px;
    height: 58px;
    background: #1F8C8C;
    font-size: 18px;
    font-weight: 500;

}
.btn_yandex:hover {
    background: #E6B964;
}
@media screen and (max-width: 1400px) {
    .card-item {
        min-height: auto;
    }

    .card-items-container {
        gap: 16px;
    }

}
@media screen and (max-width: 1150px) {
    .reviews_yandex__top {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
    }

}
@media screen and (max-width: 1000px) {
    .modal_content {
        padding: 40px 16px;
        border-radius: 16px;
    }

    .modal_card-item__img-container {
        gap: 10px;
    }

    .card-items-container {
        grid-template-columns: 1fr 1fr;
    }

    .railings-item-container {
        gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .hero-title {

        font-weight: 600;
        font-size: 32px;
        line-height: normal;
    }
    .services-main .container {
        padding: 0;
    }
    .services-main .breadcrumbs {
        padding: 0 15px;
    }
    .hero-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
    .card-item {
        padding: 8px;
    }
    .hero-swiper {
        border-radius: 0;
    }
.modal_overlay {
    padding: 10px;
}
    .hero-swiper .swiper-slide {
        min-height:400px;
        padding: 34px 15px;
    }

    .hero-swiper .swiper-pagination-bullet {
        width: 12px;
        height: 12px;

    }

    .hero-swiper .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 10px;
    }

    .flex-column {

        gap: 10px;
    }

    section {
        padding-bottom: 45px;
    }

    .modal_card-item__img-container {
        overflow-y: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        white-space: nowrap;

    }

    .modal_card-item__img-container img {
        min-width: 250px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .modal_content {
        gap: 16px;
    }

    .modal_card-item__title {
        font-size: 24px;
    }

    .railings-item-container {
        grid-template-columns: 1fr 1fr;
    }

    .railings-item {
        padding: 16px;
    }

    .section-dop .container {
        padding: 0;
    }

    .accent-cotnainer {
        padding: 30px 15px;
    }
    .reviews_yandex__img {
        display: none;
    }
    .reviews_yandex-container {
        display: block;
    }
    .reviews_yandex__stat {
        flex-direction: column;
        align-items: center;
    }
    .reviews_yandex__top {
        margin: 0;
        width: 100%;
    }
    .reviews_yandex {
        max-width: none;
    }
    .img-modal-content img {
        border-radius: 16px;
    }
}

@media screen and (max-width: 576px) {

    .hero-title {

        font-weight: 600;
        font-size: 24px;
        line-height: normal;
    }

    .hero-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }

    .section-text {
        font-size: 14px;
        line-height: 20px;
    }

    .card-items-container {
        grid-template-columns: 1fr;
    }

    .railings-item-container {
        grid-template-columns: 1fr;
    }
}